body {
    background: #F6F7EB
}

::-webkit-scrollbar {
    display: none;
}

.page {
    width: 100%;
    height: 100%;
}

.body-title {
    font-family: 'Luckiest Guy', cursive;
    margin-top: 5px;
    text-align: center;
}

.body-list {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.fixed-form {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
}

.form-add {
    border-radius: 1rem;
    background-color: white;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    height: fit-content;
}

.backlog-card,
.todo-card,
.on-progress-card,
.finished-card {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
} 